.PersonForm label {
  display: block;
  margin-bottom: 1rem;
}

.PersonForm .errMsg {
  color: red;
  text-align: left;
  font-size: small;
}

.PersonForm input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.PersonForm button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}
.PersonForm button:hover {
  background-color: #c5c5c5;
}

.PersonForm {
  margin-bottom: 1rem;
}