body {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #1a0dab;
}

a:hover {
  text-decoration: underline;
}